@import "style.scss";

@media screen and (max-width: 1025px) {
    
    header {
        height: 768px;
    }
    #logo {
        width: 25%;
        img{
            width: 70%;
        }
    }
    nav {
        ul li a {
            font-size: 1.3rem;
        }
    }

    #info {
        width: 100%;
        padding: 10% 0 8% 0;
    
        p {
            font-size: 2.5rem;
        }    

        button {
            font-size: 1.2rem;
            margin-top: 7%;
        }
    }

    #utilities {
        .wrapper {
            .services {
                height: 30%;
                p {
                    font-size: 0.8rem;
                }
                i {
                    font-size: 2.5rem;
                }
            }
        }
    }

    #about-me {
        .wrapper {
            width: 100%;
        }
        #picture {
            width: 22%
        }
        #bio {
            font-size: 1.2rem;

            h3 {
                font-size: 1.7rem;
            }
            .row {
                padding: 0.5% 0;
            }
        }
    }

    footer {
        #creator {
            width: 20%;
        }
        #logo-footer {
            margin-right:8%;
            width: 15%;
        }
        #links {
            width: 12%;
            i {
                font-size: 1.2rem
            }
        }
    }
}

@media screen and (max-width: 769px) {
    header {
        height: 100%;
    }
    #logo {
        width: 30%;
    }
    nav {
        ul li {
            a {
                font-size: 1.4rem;
                margin: 0 1rem;
            }
        }
    }
    #info {
        button {
            width: 7%;
        }
    }

    #utilities {
        .wrapper {
            .services {
                height: 30%;
                p {
                    font-size: 0.7rem;
                }
                i {
                    font-size: 2rem;
                }
            }
        } 
    }
    #skills {
        .wrapper {
            width: 100%;
        }
    }
    #about-me {
        .wrapper {
            width: 100%;
            justify-content: space-around;
        }
        #picture {
            width: 25%;
        }
        #bio {
            width: 70%;
            font-size: 1rem;
            .row {
                padding: 0.5% 0;
            }
        }
    }
    footer {
        #creator {
            width: 25%;
            font-size: 1rem;
        }
        #logo-footer {
            margin-right:10%;
            width: 20%;
        }
        #links {
            width: 15%;
            i {
                font-size: 1.2rem
            }
        }
    }
}

@media screen and (max-width: 426px) {
    header {
        height: 100%;
    }
   .holder {
    width: 100%;
   } 
    #logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2%;
        img {
            width: 50%;
            margin-left: 25%;
        }
    }
    nav {
        width: 100%;
        padding: 0 1rem;
        padding-top: 2%;
        ul {
            width: 100%;
        }
        ul li {
            a {
                
                font-size: 1.2rem;
                margin: 0;
            }
        }
    }

    #info {
        padding: 5% 0 10% 0;
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1.5rem;
            padding: 2% 0;
        }
        p {
            font-size: 1.5rem;
            padding: 0 5%;
        }
        button {
            width: 10%;
        }
    }
        
    #utilities {
        padding: 10% 0;
        h3 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 1rem;
            margin-bottom: 10%;
        }
        .wrapper {
            width: 100%;
            flex-direction: column;
            .services {
                width: 60%;
                height: 35%;
                padding-top: 5%;
                p {
                    font-size: 0.8rem;
                }
            }
        }
        .bs2 {
            margin: 15% 0;
        }
    }

    #skills {
        padding: 10% 0;
        h3 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 1rem;
            margin-bottom: 5%;
        }
        .wrapper {
            width: 100%;
            flex-direction: column;

            .html,.sass, .js, .seo {
                width: 30%;
                margin-bottom: 15%;

                i {
                    font-size: 3rem
                }
                
            }
            .seo {
                margin-bottom: 0;
            }
            .seo i {
                font-size: 2rem;
                
            }
        }
    }
    .bs1:hover, .bs2:hover, .bs3:hover {
        transform: scale(1.1);
    }

    #about-me {
        padding: 10% 0;
        h3 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 1rem;
        }

        .wrapper {
                width: 100%;
                flex-direction: column;
                padding: 0;
        }
        #picture {
                width: 50%;
                margin: 5% 0 10% 0;
        }
        #bio {
            width: 90%;
            font-size: 1rem;

            h3 {
                font-size: 1.5rem;
            }
            .row {
                padding: 0.5% 0;
            }
        }
    }

    #contact {
        padding: 10% 0;
        .wrapper {
            width: 80%;
            h3 {
                font-size: 1.5rem;
            }
            h4 {
                font-size: 1rem;
            }
            
            #input-holder{
                flex-direction: column;
                .input {
                    width: 100%;
                }
                button {
                    margin-top: 5%;
                }
            }
        }
    }

    footer {
        padding: 5% 0;
        .wrapper {
            width: 95%;
            i {
                font-size: 0.8rem;
            }
        }
        
        #creator {
            width: 35%;
            font-size: 0.8rem;
            
        }
        #logo-footer {
            width: 22%;
        }
        #links {
            width: 25%;
        }
        
    }
}