@media screen and (max-width: 1025px) {
  header {
    height: 768px;
  }
  #logo {
    width: 25%;
  }
  #logo img {
    width: 70%;
  }
  nav ul li a {
    font-size: 1.3rem;
  }
  #info {
    width: 100%;
    padding: 10% 0 8% 0;
  }
  #info p {
    font-size: 2.5rem;
  }
  #info button {
    font-size: 1.2rem;
    margin-top: 7%;
  }
  #utilities .wrapper .services {
    height: 30%;
  }
  #utilities .wrapper .services p {
    font-size: 0.8rem;
  }
  #utilities .wrapper .services i {
    font-size: 2.5rem;
  }
  #about-me .wrapper {
    width: 100%;
  }
  #about-me #picture {
    width: 22%;
  }
  #about-me #bio {
    font-size: 1.2rem;
  }
  #about-me #bio h3 {
    font-size: 1.7rem;
  }
  #about-me #bio .row {
    padding: 0.5% 0;
  }
  footer #creator {
    width: 20%;
  }
  footer #logo-footer {
    margin-right: 8%;
    width: 15%;
  }
  footer #links {
    width: 12%;
  }
  footer #links i {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 769px) {
  header {
    height: 100%;
  }
  #logo {
    width: 30%;
  }
  nav ul li a {
    font-size: 1.4rem;
    margin: 0 1rem;
  }
  #info button {
    width: 7%;
  }
  #utilities .wrapper .services {
    height: 30%;
  }
  #utilities .wrapper .services p {
    font-size: 0.7rem;
  }
  #utilities .wrapper .services i {
    font-size: 2rem;
  }
  #skills .wrapper {
    width: 100%;
  }
  #about-me .wrapper {
    width: 100%;
    justify-content: space-around;
  }
  #about-me #picture {
    width: 25%;
  }
  #about-me #bio {
    width: 70%;
    font-size: 1rem;
  }
  #about-me #bio .row {
    padding: 0.5% 0;
  }
  footer #creator {
    width: 25%;
    font-size: 1rem;
  }
  footer #logo-footer {
    margin-right: 10%;
    width: 20%;
  }
  footer #links {
    width: 15%;
  }
  footer #links i {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 426px) {
  header {
    height: 860px;
  }
  .holder {
    width: 100%;
  }
  #logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
  }
  #logo img {
    width: 50%;
    margin-left: 25%;
  }
  nav {
    width: 100%;
    padding: 0 1rem;
    padding-top: 5%;
  }
  nav ul {
    width: 100%;
  }
  nav ul li a {
    font-size: 1.2rem;
    margin: 0;
  }
  #info {
    padding: 5% 0 10% 0;
  }
  #info h1 {
    font-size: 2rem;
  }
  #info h2 {
    font-size: 1.5rem;
    padding: 2% 0;
  }
  #info p {
    font-size: 1.5rem;
    padding: 0 5%;
  }
  #info button {
    width: 10%;
  }
  #utilities {
    padding: 10% 0;
  }
  #utilities h3 {
    font-size: 1.5rem;
  }
  #utilities h4 {
    font-size: 1rem;
    margin-bottom: 10%;
  }
  #utilities .wrapper {
    width: 100%;
    flex-direction: column;
  }
  #utilities .wrapper .services {
    width: 60%;
    height: 35%;
    padding-top: 5%;
  }
  #utilities .wrapper .services p {
    font-size: 0.8rem;
  }
  #utilities .bs2 {
    margin: 15% 0;
  }
  #skills {
    padding: 10% 0;
  }
  #skills h3 {
    font-size: 1.5rem;
  }
  #skills h4 {
    font-size: 1rem;
    margin-bottom: 5%;
  }
  #skills .wrapper {
    width: 100%;
    flex-direction: column;
  }
  #skills .wrapper .html, #skills .wrapper .sass, #skills .wrapper .js, #skills .wrapper .seo {
    width: 30%;
    margin-bottom: 15%;
  }
  #skills .wrapper .html i, #skills .wrapper .sass i, #skills .wrapper .js i, #skills .wrapper .seo i {
    font-size: 3rem;
  }
  #skills .wrapper .seo {
    margin-bottom: 0;
  }
  #skills .wrapper .seo i {
    font-size: 2rem;
  }
  .bs1:hover, .bs2:hover, .bs3:hover {
    transform: scale(1.1);
  }
  #about-me {
    padding: 10% 0;
  }
  #about-me h3 {
    font-size: 1.5rem;
  }
  #about-me h4 {
    font-size: 1rem;
  }
  #about-me .wrapper {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  #about-me #picture {
    width: 50%;
    margin: 5% 0 10% 0;
  }
  #about-me #bio {
    width: 90%;
    font-size: 1rem;
  }
  #about-me #bio h3 {
    font-size: 1.5rem;
  }
  #about-me #bio .row {
    padding: 0.5% 0;
  }
  #contact {
    padding: 10% 0;
  }
  #contact .wrapper {
    width: 80%;
  }
  #contact .wrapper h3 {
    font-size: 1.5rem;
  }
  #contact .wrapper h4 {
    font-size: 1rem;
  }
  #contact .wrapper #input-holder {
    flex-direction: column;
  }
  #contact .wrapper #input-holder .input {
    width: 100%;
  }
  #contact .wrapper #input-holder button {
    margin-top: 5%;
  }
  footer {
    padding: 5% 0;
  }
  footer .wrapper {
    width: 95%;
  }
  footer .wrapper i {
    font-size: 0.8rem;
  }
  footer #creator {
    width: 35%;
    font-size: 0.8rem;
  }
  footer #logo-footer {
    width: 22%;
  }
  footer #links {
    width: 25%;
  }
}/*# sourceMappingURL=responsive.css.map */