* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
}
html {
	scroll-behavior: smooth;
}
body {
	background: #000000;
}

body::-webkit-scrollbar {
    width:12px;
    background-color:rgb(0,0,0); 
}
body::-webkit-scrollbar-thumb{
   background-color: var(--mercedes); 
   border-radius: 10px;
}

:root{
	--white: #fff;
	--mercedesf1: #01F2D1;
	--mercf1: rgba(7, 81, 89, 0.8);
	--mercedes: rgb(0, 161, 156);
	--black: #000;
}

ul, ol {
	list-style-type: none;
}
a {
	text-decoration: none;
}


header#cover1 {
	width: 100%;
	height: 100vh;
	background-image: url("../img/rsz_gt1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.cleaner {
	clear: both;
}
.centering {
	width: 80%;
	margin: 0px auto;
}
.color {
	color: var(--mercedesf1);
}
.darker{
	/* background: rgba(0,0,0,0.7);   nije potrebno al neka ga za svaki slucaj */
	/* background:linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0,0,0, 0.7), rgba(255,255,255,0)); */
	background:linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0,0,0,0.2), rgba(0,0,0,0.5));
}



.folija {
	height: inherit;
	width: 100%;
}

#nav {
	display: flex;
	justify-content: space-around ;
	align-items: flex-start;
	padding-top: 20px;
}

#logo {
	background-image: url("../img/logoo.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100px;
	height: 100px;
}

#list {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}

#list ul li {
	display: inline-block;
	color: var(--white);
	text-transform: uppercase;
	margin-left: 1.5vw;
}
#list ul li h1 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--white);
	padding: 12px 12px 8px 12px;
	transition: all 400ms;
	border-radius: 3px;
}
#list ul li h1:hover, #list h1.active-link{
	background: rgba(255,255,255,0.2);
	color: var(--mercedesf1);	
	
}
#list ul li h1.active-link:hover {
	background: rgba(255,255,255,0.4);
	color: var(--white);
}

#info {
	padding: 250px 50px 0px 70px;
}

#info h1, #info h2 {
	color: var(--white);
}

#cover1 #info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#cover1 #info i h1 {
	font-weight: 100;
	font-size: 3rem;
}

#cover1 #info h2 {
	font-size: 1.5rem;
	font-weight: 300;
	padding-top: 5%;
	text-transform: capitalize;
	color: var(--mercedesf1);
}

#info button {
	margin-top: 35px;
	background:var(--white);
	padding: 8px;
	font-size: 15px;
	border-radius: 50px;
	color: var(--black);
	cursor: pointer;
	transition: all 0.3s;
	font-weight: 500;
}

#info button:hover {
	background: var(--mercedes);
	color: var(--white);
	
}

												/* header end */
												/* main start */



main {
	padding-top: 20px;
	background: var(--black);
	
}
#gtr, #gt63  {
	background: var(--black);
	width: 100%;
	color: var(--white);
}


#gtr h1, #gt63 h1, #gtMain h1, #gtBS h1 {
	font-weight: 500;
}
#gtr h4, #gt63 h4, #gtMain h4 , #gtBS h4{
	font-weight: 300;
	padding-top: 20px;
	line-height: 22px;
}
#home i, #gtMain i, #gt63 i, #gtBS i {
	color:var(--mercedesf1);
}
.infoo {
	text-align: center;
	padding: 7% 0px 20px 0px;
	color: var(--white);
}
.firstInfoo {
	padding-top: 0px;
}

.twosides{
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 20px 0px;
	border-bottom: 1px solid var(--mercedesf1);
	border-top: 1px solid var(--mercedesf1);	
}



.slika-gtr1, .slika-gtr2, .slika-gts1, .slika-gts2  {
	width: 45%;
	display: flex;
	align-items: center;
	transition: all 0.4s;
}
.slika-gtr1:hover , .slika-gtr2:hover, .slika-gts1:hover , .slika-gts2:hover, .leftSide img:hover, .rightSide img:hover  {
	width: 50%;	
	box-shadow: rgba(0, 161, 156, 0.25) 0px 54px 55px, rgba(0, 161, 156, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 161, 156, 0.17) 0px 12px 13px, rgba(0, 161, 156, 0.09) 0px -3px 5px;
}

.slika-gtr1 img , .slika-gtr2 img, .slika-gts1 img, .slika-gts2 img{
	width: 100%;
	
}

.registerButton {
	width:20%;
	text-align: center;
	margin: 5% auto 2% auto;
}
.registerButton button {
	padding: 3%;
	font-size: 1rem;
	font-weight: bold;
	background: var(--mercedesf1);
	transition: all 500ms;
	cursor:pointer;
}
.registerButton button:hover {
	transform: scale(1.22);
}

#home #amgLogo img {
	margin: 5% 0px 0px 0px;
}

														/* end main */
														/* start footer */
												
												
footer {
	/* margin-top: 2%; */
	background: linear-gradient(to bottom, var(--black), var(--mercedes));
}
footer .centering {
	padding: 1% 0% 0% 0%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.socials {
	text-align: left;
	width: 25%;
}

.socials li, .fastLinks li {
	color: var(--white);
	font-weight: 500;
	font-size: 20px;
	transition: all 1s;
	padding: 1% 0%;
	font-size: 1rem;
}
.socials i {
	font-size: 22px;
	margin-right: 2%;
	transition: all 900ms;
	margin-bottom:1%;
	font-size: 1rem;
}
.socials i:hover {
	margin-right:7%;
	transform: scale(1.2);
}
.socials span {
	transition: all 900ms;	
}
.socials span:hover {
	margin-left: 5%;
}

.central {
	text-align: center;
	width: 40%;
}
.central h1{
	padding: 2% 0%;
	font-weight: 500;
	font-size: 1.5rem;
}
.borderBottom{
	border-bottom: 1px solid var(--mercedesf1);
}

.fastLinks {
	text-align: right;
	width: 25%;
}
.fastLinks li:hover {
	margin-right: 7%;
}
.fastLinks li {
	text-transform: lowercase;
	transition: all 900ms;
}


/* =========================================================== GT COUPE ====================================== */

header#cover2 {
	width: 100%;
	height: 100vh;
	background-image: url("../img/pexels/rsz_gtc.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.folija1 {
	height: inherit;
	width: 100%
}
.darker1 {
	background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0,0,0,0.3), rgba(0,0,0,1));
}

#slika-gt1, #amgLogo img{
	transition: all 400ms;
}
#slika-gt1:hover, #amgLogo img:hover {
	transform: scale(0.95);
}

#cover2 #list ul li  {
	font-weight: 300;
}
#cover2 #info {
	width: 20%;
	background: rgba(255,255,255,0.2);
	padding: 50px 25px 20px 50px;
	margin-left: 60px;
	margin-top: 80px;
}
#cover2 #info h1 {
	font-size: 2rem;
	color: var(--white);
	font-weight: 500;

}
#cover2 #info h2 {
	font-size: 1rem;
	font-weight: 300;
	color: var(--mercedesf1);
	padding: 5% 0%;
}
#cover2 ul li {
	font-weight: 500;
}
.centering2 {
	width: 60%;
	margin: 0px auto;
}
#amgLogo img {
	margin:5% 25%;
}
#engine, #gearbox {
	width:50%;
}
#engine img, #gearbox img {
	width: 100%;
	transition: all 400ms;
}
#engine img:hover, #gearbox img:hover {
	transform: scale(0.9);
}

.carInfo, .carInfo2 {
	width: 50%;
	word-wrap:break-word;
	/* text-align: justify; */
	display: flex;
	align-items: center;
}
.carInfo h1, .carInfo2 h1 {
	font-weight: 500;
	padding: 0% 15% 2% 15%;
}
.carInfo h4, .carInfo2 h4 {
	font-weight: 300;
	line-height: 30px;
	padding-top: 20px;
	padding: 0% 15%;
	text-align: justify;
}


h1, h2, h4 {
	color: var(--white);
}

.twosides2 {
	border: none;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 20px 0px;
}

.mozaik {
	margin-top: 10%;
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 10%;
	align-items: center;
}
.leftSide, .rightSide {
	width: 50%;
}
.leftSide img, .rightSide img {
	width: 90%;
	transition: all 500ms;
}

.leftSide img:hover , .rightSide img:hover {
	width: 100%;
} 
#gtMain .rightSide img{
	margin: 2% 0%;
}

#slika-margin-top{
	margin-top: 2%;
}



.spec, .spec1 {
	display:flex;
	justify-content: space-around;
	width: 80%;
}
.spec1 {
	padding-top: 5%;
	border-top: 1px solid var(--mercedesf1);
}
.spec {
	padding: 5% 0%;
}


.firstBlock, .secondBlock, .thirdBlock, .fourthBlock {
	width:25%;
	border-right: 1px solid var(--white);
	padding: 0px 2%;
}
.fourthBlock {
	border-right: none;
}

.carName, .acc, .hpPower, .carPrice{
	color: var(--white);
	width: 100%;
}
.acc, .hpPower, .carPrice {
	line-height: 30px;
	padding-top:5%;
}
.acc {
	padding-left: 5%;
}
.littlePic {
	width:100%;
	
}
.littlePic img {
	width: 100%;
	padding-top: 10%;
}

.fourthBlock button {
	background: var(--mercedesf1);
	padding: 2%;
	font-weight: 500;
	font-size: 1rem;
	transition: all 200ms;
	margin-top:5%;
	float:right;
}

.fourthBlock button:hover {
	background: var(--white);
	cursor:pointer;
}

									
									
									
/* ========================================================== GT 4-DOOR ================================ */
															
#cover3 {
	width: 100%;
	height: 100vh;
	background-image: url("../img/rsz_63.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.darker2 {
	background:linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0,0,0,0.5), rgba(0,0,0,0.9))
}

#cover3 #info, #cover4 #info {
	width: 20%;
	background: rgba(255,255,255,0.2);
	padding: 50px 25px 20px 50px;
	margin-left: 60px;
	margin-top: 50px;
}
#cover3 #info h1, #cover4 #info h1 {
	font-size: 2rem;
	color: var(--white);
	font-weight: 500;
}
#cover3 #info h2 , #cover4 #info h2{
	font-size: 1rem;
	font-weight: 300;
	color: var(--mercedesf1);
	padding: 5% 0%;
}

#info button {
	margin-top: 1vh;
	background:var(--mercedesf1);
	padding: 2%;
	font-size: 1rem;
	border-radius: 5%;
	cursor: pointer;
	transition: all 0.3s;
	font-weight: 500;
}

#info button:hover {
	background: var(--white);
	color: var(--black);
}


#slika-gt63 img {
	transition: all 500ms;
}
#slika-gt63 img:hover {
	transform: scale(0.95);
}

#gt63 .rightSide img {
	width: 70%;
}
#gt63 .rightSide img:hover {
	transform: scale(1.1);
}

#gt63 .spec1 .littlePic img, #gt63 .spec .littlePic img{
	width: 70%;
	margin-left: 10%;
}



/* ========================================================== BLACK SERIES ================================== */




#cover4 {
	background-image: url("../img/pexels/coverbs169.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
#cover4 .darker {
	background:linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0,0,0,0.3), rgba(0,0,0,1));
}
#cover4 #info span {
	color: var(--black);
}

#gtBS img {
	transition: all 500ms;
}
#slika-gtbs img:hover {
	transform: scale(0.95);
}
.mozaik2 {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.mozaik2 img{
	width: 30%;
}
.mozaik2 img:hover {
	width: 33%;
	box-shadow: rgba(0, 161, 156, 0.25) 0px 54px 55px, rgba(0, 161, 156, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 161, 156, 0.17) 0px 12px 13px, rgba(0, 161, 156, 0.09) 0px -3px 5px;
}

.twosides3 {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 2% 0%;
}
.margin-top {
	margin-top: 10%;
}
.aero {
	width:50%;
}
.twosides3 img {
	width: 100%;
	transition: all 500ms;
}
.twosides3 img:hover {
	transform: scale(0.95);
}
#margin-bottom {
	margin-bottom: 10%;
}
#seePrices {
	padding-bottom: 5%;
}



/* =========================================================== CONTACT ====================================== */


#cover5 {
	background-image: url("../img/rsz_1building.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.contact-us {
	background-color: rgba(255,255,255,0.5);
	height: 60vh;
	margin-top:5%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2%;
	/* position:relative; */
	/* animation: animacija 1s forwards; */
}
#maps, #form {
	width:45%;
	position: relative;
}
#maps {
	animation: animacija 1s forwards;
}
#form {
	animation: animacija2 1s forwards;
	text-align:center;
}
#form form div {
	margin: 3% 0%;
}
#form form label {
	color: var(--white);
	padding-bottom: 1%:
}
#form input {
	border: none;
	background:none;
	border-bottom: 1px solid var(--mercedesf1);
	color: var(--white);
	padding: 4px;
	font-weight: 300;
	transition: all 500ms;
}
#form input:hover {
	border:1px solid var(--mercedesf1);
	transform: scale(1.02);
}
#form [type=submit] {
	border:1px solid var(--mercedesf1);
	transition: all 500ms;
	cursor: pointer;
}
#form [type=submit]:hover {
	background: var(--mercedesf1);
	color: var(--black);
	font-weight: 500;
}


::placeholder {
	color: rgba(1,242,209,0.6);
	text-align: center;
}

@keyframes animacija{
    0%{left:-150%;}
    100%{left:0;}

}
@keyframes animacija2{
    0%{right:-100%;}
    100%{right:0;}

}


/* ================================================================ AUTHOR ==================================================== */

#cover6 {
	background-image: url("../img/rsz_cover6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.author {
	background: rgba(255,255,255,0.8);
	margin-top: 8%;
	padding: 3%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}
#authorPic {
	width: 40%;
}
#authorPic img {
	width:70%;
	margin-left: 10%;
	transition: all 500ms;
}
#authorPic img:hover {
	transform: scale(1.1);
}
 #authorInfo {
	 width: 60%;
 }
#authorInfo p {
	padding: 1% 5% 1% 0%;
	text-align: justify;
	word-wrap: normal;
	font-size: 1rem;
	font-weight: 500;
}
#authorInfo span {
	color: var(--mercedes);
}




#vrh {
	position: fixed;
	z-index: 22;
	font-size: 22px;
	bottom: 35px;
	right: 50px;
	width: 20px;
	height: 20px;
	padding: 15px 15px 20px 18px;
	border-radius: 5%;
	cursor: pointer;
	transition: all 1s;
}
#vrh i {
	transition: all 400ms;
	color: var(--mercedesf1);
}

#vrh:hover{
	color: var(--black);
	background: var(--mercedes);
}
#vrh i:hover {
	color: var(--black);
}
