$midnight: #0B0C10;
$darkGray: #1f2833;
$gray: #a5b3c0;
$tirkiz: #0098b3;
$popular: #00ADB5;
$plava: #00071f;
$neka: #12131a;
$plava2: #000a25;

$siva: #e6eaed;
$sivaSvetla: #C9D6DF;
$sivaTamna: #52616B;

@mixin centering {
    width: 90%;
    margin: 0 auto;
}

@mixin flexJC($jc: space-around){
    display: flex;
    flex-wrap: wrap;
    justify-content: $jc;
    align-items: center;
}

@mixin naslov {
        color: $siva;
        padding-bottom: 1%;
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-weight: 700;
}

@mixin podnaslov {
        color: $tirkiz;
        font-weight: 300;
        font-size: 1.3rem;
        text-align: center;
        padding-bottom: 1%;
}















body::-webkit-scrollbar {
    width: 14px;
    background-color: $midnight; 
}
body::-webkit-scrollbar-thumb{
   background-color: $popular; 
   border-radius: 50px;
   border: 5px solid $midnight;
   transition: all 500ms;
}
body::-webkit-scrollbar-thumb:hover {
    border: none;
}